.card {
  background: none;
  border-radius: 5px !important;
  border: 20px black !important;
  height: 200px;
  margin: 0.7rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px black, 0 3px 6px black;
  text-align: left;

}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: white;
  vertical-align: middle;


}
.card > .img-container > img {
  width: 100%
}

#Mario{
  padding: 0.5rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;

}

#Luigi{
  padding: 5px;
}
