.jumbotron{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: black;
  margin-bottom: 15px;
}

h1{
font-family: 'Geostar', cursive;
background: black;
color: yellow;
font-size: 50px !important;
}

.score{
  font-weight: bolder;

}

p, span{
  color: white;
}
.pscore{
  font-size: 14px;
}
.lead{
  font-size: 17px;
}
